.item {
  margin: 25% 25% 75%;
  width: 300px;
  height: 100px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transition-property: transform;
  transition-duration: .6s;
  transition-timing-function: ease-in-out;
}
